.top1{
    background-image: url("https://static.naukimg.com/s/5/105/i/dashboardbg.png") ;
    background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    height: 250px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    
    }
    
    .tophead{
        text-align: start;
    }
    
    .tophead>h2{
        color: white;
        margin-bottom: 10px;
    }
    
    .topinput>form>input{
        width: 500px;
        height: 35px;
        padding: 10px;
        border: none;

    }
    .topinput>form>button{
        width: 120px;
        height: 55px;
        background-color: #4A90E2;
        border: none;
    }
    .topinput>button:hover{
        cursor: pointer;
        background-color: #6aa5e7;
    }



.main{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-top: 20px;
    text-align: left;
}
.main:hover{
    cursor: pointer;
    width: 62%;

}

.main>div{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    
    padding: 20px;
}

.main>div>div{
    display: flex;
   
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.image{
    width: 25px;
    height: 25px;
}
.image2{
    display: flex;
    width: 55px;
    height: 55px;
    margin-left: 40%;
}

.main>div>div>h3{
    font-size: 12px;
    font-weight: 300;
    color: rgb(87, 86, 86);
}
.forlink{
    text-decoration: none;
    color: rgb(22, 21, 21);
    
}

.applybtn{
    width: 200px;
    height: 35px;
    padding: 6px;
    color: white;
    background-color: rgb(97, 97, 241);
    border: none;
    margin-left: 430px;
}

.description{
    display: flex;
    
    flex-direction: column;
    margin: auto;
    text-align: left;
    width: 60%;
}
.description1{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-top: 20px;
    padding: 20px;
    font-weight: 300;
}
/* .description2{
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 60%;
    text-align: left;
    margin-top: 20px;
} */

.allbuttons{
    display: grid;
    grid-template-columns: repeat(5, 15%);
    padding: 30px;
    gap: 6%;
    
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.allbuttons>button{
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid rgb(201, 192, 192);
}